*.tsbuildinfo
*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/tmp
/node_modules
oclif.manifest.json
web/.next
web/next-env.d.ts


yarn.lock
pnpm-lock.yaml

.claude
*.tmp
.cache/
.eslintcache
*.tsbuildinfo
coverage/
